/*Insert Color Variables Here:*/
:root {

--onyx: #393d3fff;
--forest-green-web: #248232ff;
--indian-yellow: #e09f3eff;
--turquoise-blue: #80ffecff;
--red-salsa: #f15156ff;
}

/* Fonts chosen ###
Font-family: 'Alegreya Sans', sans-serif
Font-family: 'Catamaran', sans-serif
Font-family: 'Kanit', sans-serif

*/
/*Icons rule*/
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

body {
    background-color:var(--onyx);
    font-family: 'Kanit';
}
h1{
    font-size:5rem;
    font-weight:100;
    margin-top:0;
    color: #DDD;
}

header a {
    text-decoration:none;
    color:var(--turquoise-blue)
}

#container{
    display:flex;
    flex-flow:column wrap;
    align-items:center;
    justify-content:center;
}

#main-content{
    display:flex;
    flex-direction:column;
    align-items:center;
}

/*One or Two Player Choice Styling*/
#players-selection{
    display:flex;
    flex-direction:column;
    align-items:center;
    color:#DDD;
    font-size:2rem;
    font-weight:100;
}
.player-choice-button{
    display:flex;

    opacity: 1;
    flex-direction:column;
    margin:0 2rem;
    align-items:center;
    background-color:#333;
    padding:2rem;
    box-shadow:2px 2px 5px #222,
                4px 4px 10px #444;
    cursor:pointer;
    transition:all 0.2s linear;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.choose-one-player-active{
    background-color:var(--red-salsa);
    color:black;
}
.choose-two-players-active{
    background-color:var(--turquoise-blue);
    color:black;
}

.ui-btn{
    background-color:var(--red-salsa);
    color:white;
    font-size:1.2rem;
    font-family: 'Kanit';
    font-weight:400;
    padding:0.5rem 2.5rem;
    margin-left:2rem;
    cursor:pointer;
    border:none;
    box-shadow:2px 2px 5px #222,
                4px 4px 10px #444;
    transition: all linear 0.2s;
}

.ui-btn:hover{
    background-color:var(--turquoise-blue);
    color:var(--onyx);
}

#choose-one-player:hover{
    background-color:var(--red-salsa);
    color:black;
}
#choose-two-players:hover{
    background-color:var(--turquoise-blue);
    color:black;
}
.player-choice-button > *{
    margin-bottom:0;
    margin-top:0;
}

input:focus{
    outline:none;
}

/*Player Name Input Styling*/
#choose-players-names{
    display:flex;
    justify-content:center;
    
}
.small-text{
    font-size:1.2rem;
}

#choose-players-names label{
    font-size:2rem;
    font-weight:300;
    margin:0 1rem;
}

.form-group{
    display:flex;
    align-items:space-evenly;
}

.vs {
    margin:0 3rem;
}
.player-input{
    border:none;
    background-color:#333;
    height:1rem;
    padding:1rem;
    font-size:1.5rem;
    color:#DDD;
    max-width:10rem;
}

#player-two-name-input{
    opacity:1;
    transition: all linear 1s;
}

.ui-title{
    font-size:3rem;
    font-weight:100;
    color:#DDD;
    align-self:center;
}
/*Gameboard Styling*/
#gameboard{
    display:none;
    opacity:0;
    margin-top:3rem;
    grid-template-areas: 
        'a1 a2 a3'
        'b1 b2 b3'
        'c1 c2 c3';
        width:30rem;
        height:0;
    transition: all 0.2s linear;
}




.cell {
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:6rem;
    color:#DDD;
    cursor:pointer;
    transition: all 0.2s linear;
    font-weight:100;
    min-width:10rem;
    min-height:10rem;
}
.cell:hover{
    background-color:#999;
}
.vertical-cell
{
border-left:1px solid #999;
border-right:1px solid #999;
}
.horizontal-cell{
    
        border-top:1px solid #999;
        border-bottom:1px solid #999;
        
}
/*Scores Section Styling*/
#scores {
    opacity: 0;
    display:none;
    min-width:50vw;
    font-size:3rem;
    justify-content:space-between;
    margin-top:2rem;
    color:#DDD;
    font-weight:200;
    transition: all 1s linear;
}

.player-name{
    display:flex;
    height:auto;
    align-items:center;
    justify-content:space-between;
    padding:0;
    transition: all 0.3s linear;
    
}

.score-count{
    margin-left:2rem;
    color:white;
    font-weight:100;
}

.orange-text{
color:var(--red-salsa);
}
.blue-text{
    color:var(--turquoise-blue);
}
.border-bottom{
    border-bottom:0.5rem solid #AAA;
}

#end-game-div{
    display:none;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    height:0;
    width:50vw;
    transition: all 0.5s linear
}

/*Portrait Phone*/
@media (max-width: 575.98px) {

}

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
}

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
}

/*Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {
}